@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-light;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
}

a {
    @apply text-accent-light font-semibold;
}

* {
    box-sizing: border-box;
}

h1 {
    @apply text-4xl font-bold;
}
h3 {
    @apply text-2xl font-semibold;
}

p,
li {
    @apply my-2 text-[16px];
}

input,
select {
    @apply block px-4 py-2 border-gray-light border rounded-md w-full;
}

select {
    @apply block pl-2 pr-14 py-2 border-gray-light border rounded-md;
}

label {
    @apply my-2 block font-medium;
}

.active-setup-tab::before {
    content: '';
    @apply absolute bg-accent-light w-1 rounded-full h-full -translate-x-full -left-2;
}

.setup-layout {
    table {
        @apply max-w-[500px] w-full;
    }
    tr {
        @apply border-b border-gray-light border-dashed;
        > td {
            @apply py-3;
        }
        > td:first-of-type {
            @apply font-bold;
        }
    }
}

.login {
    #auth-sign-in {
        @apply mt-0;
    }

    .sbui-btn {
        @apply bg-accent-light text-white;
    }

    .sbui-typography-link {
        @apply text-accent-light;
    }
}
