@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    @apply text-orange-600 font-semibold;
}

* {
    box-sizing: border-box;
}

h1 {
    @apply text-4xl font-semibold;
}
h3 {
    @apply text-2xl font-semibold;
}

p,
li {
    @apply my-2;
}

input {
    @apply block px-4 py-2 border-gray-300 border rounded-md;
}

select {
    @apply block pl-2 pr-14 py-2 border-gray-300 border rounded-md;
}

label {
    @apply my-2 block font-semibold;
}

.active-setup-tab::before {
    content: '';
    @apply absolute bg-orange-500 w-1 rounded-full h-full -translate-x-full -left-2;
}

.setup-layout {
    table {
        @apply max-w-[500px] w-full;
    }
    tr {
        @apply border-b border-gray-300 border-dashed;
        > td {
            @apply py-3;
        }
        > td:first-of-type {
            @apply font-bold;
        }
    }
}
